<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true" name="Chrome test">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="mr_tests.LoginTest">
                <methods>
                    <include name="verifyLoginFunctionality"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>